<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IssueTracker.Data.Properties.Settings.IssueTrackerConnectionString"
            connectionString="Data Source=CALEB-PC;Initial Catalog=IssueTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IssueTracker.Data.Properties.Settings.IssueTrackerConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IssueTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>